@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  .auth-container {
    @apply max-w-[889px] mx-auto;
  }

  .mobile-container {
    @apply min-w-[320px] px-7 480:px-8;
  }

  .app-container {
    @apply w-full max-w-[calc(100vw-270px)] py-2 px-10;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* SEARCH SELECT STYLES */
.react-select__control {
  border: 1px solid #bbcae1 !important;
  border-radius: 50px !important;
  background-color: #fff;
  height: 65px;
  padding: 4px;
  cursor: text !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.react-select__control:hover {
  border-color: #acbbd0 !important;
}

.react-select__control input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__dropdown-indicator {
  cursor: pointer;
  /* padding: 8px 13px 8px 8px !important; */
  margin-right: 10px !important ;
}

.react-select__menu {
  max-height: 10rem !important;
  overflow: auto;
  background-color: white;
  cursor: pointer !important;
  border-radius: 20px !important;
  margin-top: 2px;
  padding-top: 8px;
  border: 1px solid #bbcae2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
}

.react-select__menu::-webkit-scrollbar {
  display: none;
}

.react-select__input {
  border: none;
  outline: none;
}

.react-select__option {
  background-color: transparent;
  color: #000;
  font-size: 1.25rem;
  cursor: pointer !important;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.react-select__option--is-selected {
  background-color: #e0e0e0 !important;
  color: inherit !important;
}
.react-select__option.react-select__option--is-focused.react-select__option--is-selected {
  background-color: #e0e0e0 !important;
}

.react-select__option.react-select__option--is-focused {
  background-color: #f9f9f9 !important;
}
