@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 390px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  .auth-container {
    @apply max-w-[889px] mx-auto;
  }

  .mobile-container {
    @apply min-w-[320px] px-7 480:px-8;
  }

  .app-container {
    @apply w-full max-w-[calc(100vw-270px)] py-2 px-10;
  }
}
@layer components {
  .spinner {
    @apply h-5 w-5 animate-spin;
  }
}

/* GENERAL TABLE STYLES */
.ant-table-thead > tr > th {
  background-color: #23539f !important;
  color: #fff !important;
  border-start-end-radius: 0px !important;
  border-start-start-radius: 0px !important;
  border: none !important;
}

.ant-table-wrapper .ant-table .ant-table-header {
  border-radius: 0 !important;
}

.ant-table-thead > tr > th::before {
  display: none !important;
}

tr > th.ant-table-cell.ant-table-cell-scrollbar {
  box-shadow: none !important;
}
.ant-table-cell,
.ant-table-cell button p {
  color: #727272;
  font-weight: 400;
}

.ant-table-cell.action-column button p {
  color: #f2f2f7;
}

/* DASHBOARD */

.registered-users-table .name,
.registered-users-table .user-id {
  min-width: 90px;
}

.registered-users-table .email {
  max-width: 140px;
}

.registered-users-table .date-registered,
.registered-users-table .tier,
.registered-users-table .status,
.registered-users-table .last-login,
.registered-users-table .total-booked-flight,
.registered-users-table .miles-accumulated {
  min-width: 140px;
}

.tickets-purchased-table .email {
  max-width: 130px;
}

.tickets-purchased-table .user-id {
  min-width: 95px;
}

.tickets-purchased-table .transaction-id,
.tickets-purchased-table .name,
.tickets-purchased-table .date-of-purchase,
.tickets-purchased-table .tickets-purchased,
.tickets-purchased-table .amount,
.tickets-purchased-table .payment-method,
.tickets-purchased-table .status {
  min-width: 135px;
}

/* .ant-table-container {
  min-width: 1000px !important;
} */

.custom-scrollbar .ant-table-body {
  scrollbar-width: thin;
}

/* CUSTOMER TABLE */

.customer-table .avatar,
.customer-table .title {
  min-width: 80px;
}

.customer-table .name,
.customer-table .email,
.customer-table .nationality,
.customer-table .peaceID,
.customer-table .action {
  min-width: 200px;
}

/* INDIVIDUAL CUSTOMER PAGE */

.customer .date,
.customer .activityType,
.customer .description {
  max-width: 392px;
}

@media (min-width: 1240px) {
  .customer .date,
  .customer .activityType,
  .customer .description {
    width: 392px;
  }
}

/* SURVERY STYLES */
/* SURVEYS */

.survey-table .title-column {
  min-width: 145px;
}
.survey-table .dateCreated-column {
  min-width: 140px !important;
}
.survey-table .action-column {
  width: 400px !important;
}

@media (min-width: 1589px) {
  .survey-table .title-column,
  .survey-table .dateCreated-column,
  .survey-table .action-column {
    min-width: 300px !important;
  }

  .survey-table .status-column {
    min-width: 200px;
  }
}

@media (min-width: 1241px) {
  .survey-table .title-column,
  .survey-table .action-column {
    min-width: 250px !important;
  }

  .survey-table .dateCreated-column {
    min-width: 200px !important;
  }

  .survey-table .status-column {
    min-width: 220px !important;
  }
}

/* SURVEY PARTICIPANTS */
@media (max-width: 1180px) {
  .survey-participants .table-name-column {
    max-width: 150px !important;
  }
}

/* CUSTOMER-FEEDBCK */

.ant-table-cell.name-column {
  min-width: 187px !important;
}

/* ACTIVITY-LOG */
.ant-table-cell.timeStamp-column,
.ant-table-cell.user-column,
.ant-table-cell.activityType-column,
.ant-table-cell.ipaddress-column {
  min-width: 180px !important;
}

.ant-table-cell.description-column {
  min-width: 250px !important;
}
.ant-table-cell.role-column {
  min-width: 120px !important;
}

.ant-table-cell.action-column {
  min-width: 110px !important;
}

/*HIDDEN SCROLLBAR */
.hidden-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.text-gradient {
  background: -webkit-linear-gradient(40deg, #2b539f 6%, #bd3826 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
}

.sky-blue-gradient-bg {
  background: linear-gradient(180deg, #23539f00, #23539f0a);
}

.react-datepicker-wrapper {
  width: 100%;
}
/* RECHARTS GRAPH */

@media (max-width: 640px) {
  .recharts-legend-wrapper {
    left: 0 !important;
    width: 100% !important;
  }
}

.graph.recharts-responsive-container {
  min-width: 200px !important;
}

@media (min-width: 1240px) {
  .graph > .recharts-surface {
    padding: 0 25px !important;
  }
}

/* ANTD PICKER */
.ant-picker {
  border-radius: 22px;
  width: 100%;
  height: 44px;
  border: 1px solid #bbcae1;
  color: #555555;
}

.ant-picker:hover,
.ant-picker:focus {
  border: 1px solid #bbcae1;
}

.ant-picker:focus {
  outline: none;
}

.ant-picker-footer {
  display: none;
}

.ant-picker .ant-picker-input > input::placeholder {
  color: #595959;
}

.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows[type='number'] {
  -moz-appearance: textfield;
}

#file-upload-button {
  cursor: pointer;
}

.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  animation: shimmer 1.8s infinite ease-in-out;
}

.shimmer-skeleton {
  width: 60%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(242, 242, 242, 0.5) 25%,
    rgba(227, 226, 226, 0.5) 50%,
    rgba(242, 242, 242, 0.5) 75%
  );
  background-size: 200% 100%;
  filter: blur(8px);
}

@keyframes shimmer {
  0% {
    transform: translateX(-140%);
  }

  100% {
    transform: translateX(140%);
  }
}

/* DaSHBORAD GRAPH FILTER */

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 250ms ease-in;
}

.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 250ms ease-out;
}

@media (min-width: 1240px) and (max-width: 1400px) {
  .greeting > h1 {
    @apply text-[1.3rem];
  }
  .greeting > p {
    @apply text-base;
  }
}
